<body>
    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->
        <div class=" section_sand">
            <div class="section_package_one">
                <img src="/images/sandtours/activities.svg" alt="">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">

                        <h1 class="section_title capitilize ">
                            Activities
                        </h1>
                        <p class="section_content">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="dropdown">
                    <input class="text-box" type="text" placeholder="Sort by Popularity" readonly>
                    <div class="options">
                        <div onclick="show('HTML')">HTML</div>
                        <div onclick="show('CSS')">CSS</div>
                    </div>
                </div>
            </div>
            <div class="container destination_card_items">
                <div class="activities_grids_head">
                    <div class="activities_grids">
                        <div class="activities_box_one" style="background-image:url(/images/sandtours/desert.svg)">
                            <div class="boxs_button">
                                <h1>Desert Safari</h1>
                                <div class="activities_explore">
                                    <a href="/atvtours"> <button>Explore Packages </button></a>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activities_box_two" style="background-image:url(/images/sandtours/dune.svg)">
                            <div class="boxs_button">
                                <h1>Dune Bashing</h1>
                                <div class="activities_explore">
                                    <button>Explore Packages </button>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activities_box_two" style="background-image:url(/images/sandtours/camelride.svg)">
                            <div class="boxs_button">
                                <h1>Camel Riding</h1>
                                <div class="activities_explore">
                                    <button>Explore Packages </button>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="activities_grids">
                        <div class="activities_box_two"
                            style="background-image:url(/images/sandtours/hotbaloon.svg);background-repeat: no-repeat;background-position: center;">
                            <div class="boxs_button">
                                <h1>Sky Diving</h1>
                                <div class="activities_explore">
                                    <button>Explore Packages </button>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activities_box_one"
                            style="background-image:url(/images/sandtours/skydive.svg);background-repeat: no-repeat;background-position: center">
                            <div class="boxs_button">
                                <h1>Hot Air Balloon</h1>
                                <div class="activities_explore">
                                    <button>Explore Packages </button>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activities_box_two"
                            style="background-image:url(/images/sandtours/hotbaloon.svg);background-repeat: no-repeat;background-position: center">
                            <div class="boxs_button">
                                <h1>Zipline</h1>
                                <div class="activities_explore">
                                    <button>Explore Packages </button>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="activities_grids">
                        <div class="activities_box_one"
                            style="background-image:url(/images/sandtours/desert.svg);background-repeat: no-repeat;">
                            <div class="boxs_button">
                                <h1>Desert Safari</h1>
                                <div class="activities_explore">
                                    <button>Explore Packages </button>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="activities_box_two" style="background-image:url(/images/sandtours/dune.svg)">
                            <div class="boxs_button">
                                <h1>Dune Bashing</h1>
                                <div class="activities_explore">
                                    <button>Explore Packages </button>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="activities_box_two" style="background-image:url(/images/sandtours/camelride.svg)">
                            <div class="boxs_button">
                                <h1>Camel Riding</h1>
                                <div class="activities_explore">
                                    <button>Explore Packages </button>
                                    <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== Start footer_Section ========== -->
            <%-include("footer.ejs")%>
                <!-- ========== End footer_Section ========== -->

                <script>
                    function show(value) {
                        document.querySelector(".text-box").value = value;
                    }

                    let dropdown = document.querySelector(".dropdown");
                    dropdown.onclick = function () {
                        dropdown.classList.toggle("active");
                    };
                </script>
</body>

</html>