<body>
    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->
        <div class=" section_sand">
            <div class="section_package_one">
                <img src="/images/sandtours/book_vist.svg" alt="">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">
                        <h1 class="section_title capitilize ">
                            Book Visit
                        </h1>
                        <p class="section_content">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>
            </div>
            <div class="book_vist_rectangle_head">
                <div class="container">
                    <div class="book_vist_rectangle">
                        <div class="form__group">
                            <input type="date" class="form__field" required="true" placeholder="Start Date">
                            <label for="name" class="form__label">Start Date</label>
                        </div>
                        <div class="form__group">
                            <input type="date" class="form__field" required="true" placeholder="End Date">
                            <label for="name" class="form__label">End Date</label>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__field" required="true" placeholder="Select Destinations">
                            <label for="name" class="form__label"></label>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__field" required="true" placeholder="Select Activities">
                            <label for="name" class="form__label"></label>
                        </div>
                        <div class="form__group">
                            <button type="button" class="btn btn-yellow">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========== End popularSection ========== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Add jQuery (use a specific version if needed) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Add Owl Carousel CSS -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <!-- Add Owl Carousel theme CSS (optional) -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <!-- Add Owl Carousel JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/Navbar.js"></script>
</body>

</html>