<body>
    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->
        <div class=" section_sand">
            <div class="section_package_one">
                <img src="/images/banner_img/banner_bookvisit_img.svg" alt="" loading="lazy">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">
                        <h1 class="section_title capitilize small_center" data-aos="fade-right"
                            data-aos-duration="1000">
                            Book Visit
                        </h1>
                        <p class="section_content small_center" data-aos="zoom-in-down" data-aos-duration="1000"
                            data-aos-easing="linear">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>
            </div>
            <div class="book_vist_rectangle_head">
                <div class="container">
                    <div class="book_vist_rectangle">
                        <div class="form__group">
                            <input type="date" class="form__field" required="true" placeholder="Start Date">
                            <label for="name" class="form__label">Start Date</label>
                        </div>
                        <div class="form__group">
                            <input type="date" class="form__field" required="true" placeholder="End Date">
                            <label for="name" class="form__label">End Date</label>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__field" required="true" placeholder="Select Destinations">
                            <label for="name" class="form__label"></label>
                        </div>
                        <div class="form__group">
                            <input type="text" class="form__field" required="true" placeholder="Select Activities">
                            <label for="name" class="form__label"></label>
                        </div>
                        <div class="form__group">
                            <button type="button" class="btn btn-yellow">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========== Start footer ========== -->
        <%-include("footer.ejs")%>
            <!-- ========== End footer ========== -->

</body>