<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arabian Hub</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/Components.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>



    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->
        <div class=" section_sand">
            <div class="section_package_one">
                <img src="/images/sandtours/book_vist.svg" alt="">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">

                        <h1 class="section_title capitilize ">
                            Book Visit
                        </h1>
                        <p class="section_content">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>

            </div>
            <div class="book_vist_rectangle_head">

                <div class="container">
                    <div class="book_vist_rectangle">
                        <!-- <div class="yellow_splash "></div> -->
                        <div class="start_date" style="
                    width: 94px;
                    height: 32px;
                    flex-direction: column;
                    justify-content: center;">
                            <p>Start Date</p>
                            <hr>
                        </div>
                        <div class="start_date" style="
                    width: 94px;
                    height: 32px;
                    flex-direction: column;
                    justify-content: center;">
                            <p>End Date</p>
                        </div>
                        <div class="start_date" style="
                    width: 162px;
                    height: 32px;
                    flex-direction: column;
                    justify-content: center;">
                            <p>Select Destinations</p>
                        </div>
                        <div class="start_date" style="
                    width: 145px;
                    height: 32px;
                    flex-direction: column;
                    justify-content: center;">
                            <p>Select Activities</p>
                        </div>
                        <div class="start_date">
                            <button>Searchh</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- ========== End popularSection ========== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Add jQuery (use a specific version if needed) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Add Owl Carousel CSS -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <!-- Add Owl Carousel theme CSS (optional) -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <!-- Add Owl Carousel JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/Navbar.js"></script>
</body>

</html>