<body>
    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->
        <div class=" section_sand">
            <div class="section_package_one">
                <img src="/images/sandtours/contact.svg" alt="">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">
                        <h1 class="section_title capitilize ">
                            Let’s talk
                        </h1>
                        <p class="section_content">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact_table_head">
            <div class="container">
                <div class="row gap-3 p-3">
                    <div class="col-xl-3 col-12  contact_page_border">
                        <div class="float_right"> <img src="images/sandtours/leaveusIcon.svg" alt=""></div>
                        <div class="format_head">
                            <h1>Leave us a
                                Message</h1>
                        </div>
                        <div>
                            <p class="section_mini_para">Discover your next adventure, where every click leads to a
                                new
                                experience. Seamlessly create and troubleshoot.</p>
                        </div>
                        <div class="contact_format_btn_head">
                            <a href="/message"> <button>Message us <span><img
                                            src="/images/sandtours/arrow-down-left.svg" alt="">
                                    </span> </button></a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-12 contact_gap contact_page_border">
                        <div class="float_right"> <img src="images/sandtours/curateIcon.svg" alt=""></div>
                        <div class="format_head">
                            <h1>Let us Curate your Trip</h1>
                        </div>
                        <div>
                            <p class="section_mini_para">Discover your next adventure, where every click leads to a
                                new
                                experience. Seamlessly create and troubleshoot.</p>
                        </div>
                        <div class="contact_format_btn_head">
                            <a href="/curate"> <button>Contact Us <span><img src="/images/sandtours/arrow-down-left.svg"
                                            alt="">
                                    </span> </button></a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-12 contact_gap contact_page_border">
                        <div class="float_right"> <img src="images/sandtours/questionIcon.svg" alt="">
                        </div>
                        <div class="format_head">
                            <h1>Have a
                                Question?</h1>
                        </div>
                        <div>
                            <p class="section_mini_para">Discover your next adventure, where every click leads to a
                                new
                                experience. Seamlessly create and troubleshoot.</p>
                        </div>
                        <div class="contact_format_btn_head">
                            <a href="/question"> <button>See FAQ <span><img src="/images/sandtours/arrow-down-left.svg"
                                            alt="">
                                    </span> </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End package cards ========== -->
        <!-- ========== End popularSection ========== -->

        <!-- ========== Start location_Section ========== -->
        <div class="section_contact_map">
            <iframe style="filter: grayscale(1);"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.600473273236!2d-122.42695442458076!3d37.77596521209215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580a2095575d9%3A0xbc85b6412cf68b83!2sPatricia%E2%80%99s%20Green%20In%20Hayes%20Valley!5e0!3m2!1sen!2sin!4v1699521966419!5m2!1sen!2sin"
                width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- ========== End location_Section ========== -->
        <%-include("footer.ejs")%>
</body>