<body>
    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->

        <div class=" section_sand">
            <div class="section_package_one">
                <img src="/images/sandtours/curate.svg" alt="">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">
                        <h1 class="section_title capitilize ">
                            Curate your Trip
                        </h1>
                        <p class="section_content">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>
            </div>
            <div class="contact_form_head">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="contact_form_head_left">
                                <div>
                                    <h5><span><img src="/images/sandtours/Line.svg" alt=""></span> HERE AT YOUR
                                        SERVICE
                                    </h5>
                                </div>
                                <div>
                                    <h1>Let’s draw the map to your Dream Trip</h1>
                                </div>
                                <div class="contact_info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                                    </p>
                                    <p> <span><img src="/images/sandtours/contact_message.svg" alt=""></span>
                                        samplemail@hotmail.com</p>
                                    <p><span><img src="/images/sandtours/phone.svg" alt=""></span> +971 0000 000 00
                                    </p>
                                    <div style="width: 380px;
                                height: 180px;">
                                        <p class="adderss_content"> <span><img
                                                    src="/images/sandtours/contactlocation.svg" alt=""></span>Arabian
                                            Tour
                                            Hub
                                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem 553236</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-xl-6">
                            <div class="contact_table">
                                <div class="gold_splash">
                                    <div class="about_gradient_topright"></div>
                                </div>
                                <div class="contact_table_inner">
                                    <div class="container">
                                        <div class="contact_us">
                                            <h1>Talk to us</h1>
                                        </div>

                                        <div class="input_block">
                                            <div class="name">
                                                <label for="name" class="name">Name*</label>
                                                <input type="text" id="name" name="name" placeholder="Enter Your Name">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="input_block">
                                            <div class="email">
                                                <label for="email" class="name">Email*</label>
                                                <input type="email" id="email" name="email"
                                                    placeholder="Enter Email ID">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="input_block">
                                            <div class="phone">
                                                <label for="phone" class="name">Phone*</label>
                                                <input type="tel" id="phone" name="phone"
                                                    placeholder="Enter Your Number">
                                                <hr>
                                            </div>
                                        </div>

                                        <div class="input_block">
                                            <div class="message">
                                                <label for="message" class="name">Send us a message*</label>
                                                <textarea id="message" name="message"
                                                    placeholder="Write Somthing"></textarea>
                                                <hr>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ========== End package cards ========== -->
        <!-- ========== End popularSection ========== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Add jQuery (use a specific version if needed) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Add Owl Carousel CSS -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <!-- Add Owl Carousel theme CSS (optional) -->
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <!-- Add Owl Carousel JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="/javascripts/main.js"></script>
        <script src="/javascripts/Navbar.js"></script>
</body>

</html>