<body>

    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->

        <div class=" section_sand">
            <div class="section_row_one" style="background-image: url('/images/sandtours/destination.svg');">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">

                        <h1 class="section_title capitilize ">
                            Destinations
                        </h1>
                        <p class="section_content">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="dropdown">
                    <input class="text-box" type="text" placeholder="Sort by Popularity" readonly>
                    <div class="options">
                        <div onclick="show('HTML')">HTML</div>
                        <div onclick="show('CSS')">CSS</div>
                    </div>
                </div>
            </div>
            <div class="container destination_card_items">
                <div class="row">
                    <div class="col-md-6">
                        <a href="/dubai">
                            <div class="adventure_card"
                                style="background-image: url(/images/sandtours/adventure.svg); background-repeat: no-repeat;">
                                <div class="seven_packages">
                                    <p>7 Packages</p>
                                </div>
                                <div class="Dubai">
                                    <h1>Dubai</h1>
                                    <p>Discover your next adventure, where every click leads to a new experience.
                                        Seamlessly
                                        create and organize your travel plans.</p>
                                    <div class="explore">
                                        <button>Explore </button>
                                        <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/dubai">
                            <div class="adventure_card"
                                style="background-image: url(/images/sandtours/adventure.svg); background-repeat: no-repeat;">
                                <div class="seven_packages">
                                    <p>7 Packages</p>
                                </div>
                                <div class="Dubai">
                                    <h1>Dubai</h1>
                                    <p>Discover your next adventure, where every click leads to a new experience.
                                        Seamlessly
                                        create and organize your travel plans.</p>
                                    <div class="explore">
                                        <button>Explore </button>
                                        <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/dubai">
                            <div class="adventure_card"
                                style="background-image: url(/images/sandtours/adventure.svg); background-repeat: no-repeat;">
                                <div class="seven_packages">
                                    <p>7 Packages</p>
                                </div>
                                <div class="Dubai">
                                    <h1>Dubai</h1>
                                    <p>Discover your next adventure, where every click leads to a new experience.
                                        Seamlessly
                                        create and organize your travel plans.</p>
                                    <div class="explore">
                                        <button>Explore </button>
                                        <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/dubai">
                            <div class="adventure_card"
                                style="background-image: url(/images/sandtours/adventure.svg); background-repeat: no-repeat;">
                                <div class="seven_packages">
                                    <p>7 Packages</p>
                                </div>
                                <div class="Dubai">
                                    <h1>Dubai</h1>
                                    <p>Discover your next adventure, where every click leads to a new experience.
                                        Seamlessly
                                        create and organize your travel plans.</p>
                                    <div class="explore">
                                        <button>Explore </button>
                                        <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/dubai">
                            <div class="adventure_card"
                                style="background-image: url(/images/sandtours/adventure.svg); background-repeat: no-repeat;">
                                <div class="seven_packages">
                                    <p>7 Packages</p>
                                </div>
                                <div class="Dubai">
                                    <h1>Dubai</h1>
                                    <p>Discover your next adventure, where every click leads to a new experience.
                                        Seamlessly
                                        create and organize your travel plans.</p>
                                    <div class="explore">
                                        <button>Explore </button>
                                        <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="/dubai">
                            <div class="adventure_card"
                                style="background-image: url(/images/sandtours/adventure.svg); background-repeat: no-repeat;">
                                <div class="seven_packages">
                                    <p>7 Packages</p>
                                </div>
                                <div class="Dubai">
                                    <h1>Dubai</h1>
                                    <p>Discover your next adventure, where every click leads to a new experience.
                                        Seamlessly
                                        create and organize your travel plans.</p>
                                    <div class="explore">
                                        <button>Explore </button>
                                        <div class="chevron_tl"><img src="/images/sandtours/arrow-down-left.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- ========== Start footer ========== -->
            <%-include("footer.ejs")%>
                <!-- ========== End footer ========== -->

                <!-- ========== Dropdown ========== -->
                <script>
                    function show(value) {
                        document.querySelector(".text-box").value = value;
                    }

                    let dropdown = document.querySelector(".dropdown");
                    dropdown.onclick = function () {
                        dropdown.classList.toggle("active");
                    };
                </script>
                <!-- =========Dropdown ========== -->
</body>

</html>