<!DOCTYPE html>
<html lang="en">



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page not found</title>
</head>

<body>
    <div class="home_link" style="text-align: center;margin-top: 40px;">
        <a href="/" style="text-decoration: none; font-size: 20px;color: black;">
            Sorry the Page you are looking is not found ! Please
            <h4 style="color: #FFC801;"> Get Back to home</h4>
        </a>
    </div>
    <div class="error_page" style="display: flex;justify-content: center; align-items: center;">
        <img src="/images/error page/404 error.jpg" alt="" width="50%">

    </div>

</body>

</html>