<body>
    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->
        <div class=" section_sand">
            <div class="section_package_one">
                <img src="/images/sandtours/sand.svg" alt="" loading="lazy">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">
                        <h1 class="section_title capitilize small_center" data-aos="fade-right"
                            data-aos-duration="1000">
                            Sand Tours
                        </h1>
                        <p class="section_content small_center" data-aos="zoom-in-down" data-aos-duration="1000"
                            data-aos-easing="linear">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>
            </div>

            <!-- ========== Start Section ========== -->
            <div class="section_activity">
                <div class="container">
                    <div class="section_activity_box">
                        <div class="section_activity_top">
                            <div class="section_about_head">
                                <span class="section_about_line">
                                    <hr class="section_bar_yellow">
                                </span>
                                <span class="section_head_title">FUN & FULFILLING</span>
                            </div>
                            <div class="section_title">Activities</div>
                            <div class="section_activity_container">
                                <div class="section_activity_left"><img src="/images/activity img/sand_tours.svg"
                                        alt="">
                                </div>
                                <div class="section_activity_center">
                                    <div class="section_activity_bar"></div>
                                </div>
                                <div class="section_activity_right">
                                    <div class="accordion__list">
                                        <div class="accordion">
                                            <span class="accordion__title">
                                                Dune Bashing
                                                <span class="arrow"></span>
                                            </span>
                                            <div class="accordion__content-wrap">
                                                <div class="accordion__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    Consequatur facere fuga fugit iusto
                                                    libero modi. Consectetur delectus eligendi esse id laboriosam
                                                    mollitia nam, necessitatibus nihil
                                                    nisi quae repellendus reprehenderit veniam?
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion">
                                            <span class="accordion__title ">
                                                Camel Riding
                                                <span class="arrow"></span>
                                            </span>
                                            <div class="accordion__content-wrap">
                                                <div class="accordion__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    Consequatur facere fuga fugit iusto
                                                    libero modi. Consectetur delectus eligendi esse id laboriosam
                                                    mollitia nam, necessitatibus nihil
                                                    nisi quae repellendus reprehenderit veniam?
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion">
                                            <span class="accordion__title ">
                                                Sky Diving
                                                <span class="arrow"></span>
                                            </span>
                                            <div class="accordion__content-wrap">
                                                <div class="accordion__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    Consequatur facere fuga fugit iusto
                                                    libero modi. Consectetur delectus eligendi esse id laboriosam
                                                    mollitia nam, necessitatibus nihil
                                                    nisi quae repellendus reprehenderit veniam?
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion">
                                            <span class="accordion__title ">
                                                Sky View Edge Walk
                                                <span class="arrow"></span>
                                            </span>
                                            <div class="accordion__content-wrap">
                                                <div class="accordion__content">
                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                                    Consequatur facere fuga fugit iusto
                                                    libero modi. Consectetur delectus eligendi esse id laboriosam
                                                    mollitia nam, necessitatibus nihil
                                                    nisi quae repellendus reprehenderit veniam?data
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section_activity_btn">
                        <div class="section_package_btn"> <a href="/activities"><button type="button"
                                    class="btn btn-yellow">Explore
                                    Activities</button></a>
                        </div>
                    </div>
                    <div class="section_activity_gradient"><img src="/images/activity img/yellow gradient.svg" alt="">
                    </div>
                </div>
            </div>
            <!-- ========== End Section ========== -->
            <!-- ========== Start similar packages  ========== -->
            <div class="package_section">
                <div class="container">
                    <div class="row">
                        <div class="section_mini_title">Similar Packages</div>
                        <div class="col-12 col-sm-6 col-xl-4">
                            <div class="package_cards">
                                <div><img src="/images/packages img/sand_girl.svg" alt="" class="package_cards_img">
                                </div>
                                <div class="card-body-items">
                                    <div class="package_title">Package Name</div>
                                    <div class="package_price">AED</div>
                                    <div class="package_travel">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M1.875 10C1.875 5.5142 5.5142 1.875 10 1.875C14.4858 1.875 18.125 5.5142 18.125 10C18.125 14.4858 14.4858 18.125 10 18.125C5.5142 18.125 1.875 14.4858 1.875 10ZM10 3.125C6.20455 3.125 3.125 6.20455 3.125 10C3.125 13.7954 6.20455 16.875 10 16.875C13.7954 16.875 16.875 13.7954 16.875 10C16.875 6.20455 13.7954 3.125 10 3.125Z"
                                                    fill="#DDDDDD" />
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M10 4.375C10.3452 4.375 10.625 4.65482 10.625 5V10H13.75C14.0952 10 14.375 10.2798 14.375 10.625C14.375 10.9702 14.0952 11.25 13.75 11.25H10C9.65482 11.25 9.375 10.9702 9.375 10.625V5C9.375 4.65482 9.65482 4.375 10 4.375Z"
                                                    fill="#DDDDDD" />
                                            </svg> 6hrs
                                        </span> <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                viewBox="0 0 18 18" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M3.375 6.50391C3.375 3.50906 5.92109 1.125 9 1.125C12.0789 1.125 14.625 3.50906 14.625 6.50391C14.625 8.19227 13.7121 10.2811 12.7122 12.0867C11.6972 13.9192 10.5283 15.5703 9.90146 16.4168C9.79803 16.5582 9.66278 16.6733 9.50663 16.7528C9.34969 16.8326 9.17609 16.8743 9 16.8743C8.82391 16.8743 8.65031 16.8326 8.49337 16.7528C8.3372 16.6733 8.20194 16.5582 8.0985 16.4168C7.47168 15.5699 6.30279 13.9182 5.28782 12.0854C4.28789 10.2798 3.375 8.19107 3.375 6.50391ZM9 2.25C6.48907 2.25 4.5 4.18242 4.5 6.50391C4.5 7.87534 5.27461 9.73939 6.27199 11.5404C7.25166 13.3095 8.38638 14.9145 9 15.7437C9.6136 14.9149 10.7483 13.3104 11.728 11.5416C12.7254 9.74087 13.5 7.8766 13.5 6.50391C13.5 4.18242 11.5109 2.25 9 2.25Z"
                                                    fill="#DDDDDD" />
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M9 5.625C8.37868 5.625 7.875 6.12868 7.875 6.75C7.875 7.37132 8.37868 7.875 9 7.875C9.62132 7.875 10.125 7.37132 10.125 6.75C10.125 6.12868 9.62132 5.625 9 5.625ZM6.75 6.75C6.75 5.50736 7.75736 4.5 9 4.5C10.2426 4.5 11.25 5.50736 11.25 6.75C11.25 7.99264 10.2426 9 9 9C7.75736 9 6.75 7.99264 6.75 6.75Z"
                                                    fill="#DDDDDD" />
                                            </svg> Dubai,Uae
                                        </span>
                                    </div>
                                    <div class="package_data_price">
                                        1200
                                    </div>
                                    <div>
                                        <a href="/packagesname"> <button type="button"
                                                class="btn btn-yellow-gradient">Know
                                                More </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-4">
                            <div class="package_cards">
                                <div><img src="/images/packages img/sand_girl.svg" alt="" class="package_cards_img">
                                </div>
                                <div class="card-body-items">
                                    <div class="package_title">Package Name</div>
                                    <div class="package_price">AED</div>
                                    <div class="package_travel">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M1.875 10C1.875 5.5142 5.5142 1.875 10 1.875C14.4858 1.875 18.125 5.5142 18.125 10C18.125 14.4858 14.4858 18.125 10 18.125C5.5142 18.125 1.875 14.4858 1.875 10ZM10 3.125C6.20455 3.125 3.125 6.20455 3.125 10C3.125 13.7954 6.20455 16.875 10 16.875C13.7954 16.875 16.875 13.7954 16.875 10C16.875 6.20455 13.7954 3.125 10 3.125Z"
                                                    fill="#DDDDDD" />
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M10 4.375C10.3452 4.375 10.625 4.65482 10.625 5V10H13.75C14.0952 10 14.375 10.2798 14.375 10.625C14.375 10.9702 14.0952 11.25 13.75 11.25H10C9.65482 11.25 9.375 10.9702 9.375 10.625V5C9.375 4.65482 9.65482 4.375 10 4.375Z"
                                                    fill="#DDDDDD" />
                                            </svg> 6hrs
                                        </span> <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                viewBox="0 0 18 18" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M3.375 6.50391C3.375 3.50906 5.92109 1.125 9 1.125C12.0789 1.125 14.625 3.50906 14.625 6.50391C14.625 8.19227 13.7121 10.2811 12.7122 12.0867C11.6972 13.9192 10.5283 15.5703 9.90146 16.4168C9.79803 16.5582 9.66278 16.6733 9.50663 16.7528C9.34969 16.8326 9.17609 16.8743 9 16.8743C8.82391 16.8743 8.65031 16.8326 8.49337 16.7528C8.3372 16.6733 8.20194 16.5582 8.0985 16.4168C7.47168 15.5699 6.30279 13.9182 5.28782 12.0854C4.28789 10.2798 3.375 8.19107 3.375 6.50391ZM9 2.25C6.48907 2.25 4.5 4.18242 4.5 6.50391C4.5 7.87534 5.27461 9.73939 6.27199 11.5404C7.25166 13.3095 8.38638 14.9145 9 15.7437C9.6136 14.9149 10.7483 13.3104 11.728 11.5416C12.7254 9.74087 13.5 7.8766 13.5 6.50391C13.5 4.18242 11.5109 2.25 9 2.25Z"
                                                    fill="#DDDDDD" />
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M9 5.625C8.37868 5.625 7.875 6.12868 7.875 6.75C7.875 7.37132 8.37868 7.875 9 7.875C9.62132 7.875 10.125 7.37132 10.125 6.75C10.125 6.12868 9.62132 5.625 9 5.625ZM6.75 6.75C6.75 5.50736 7.75736 4.5 9 4.5C10.2426 4.5 11.25 5.50736 11.25 6.75C11.25 7.99264 10.2426 9 9 9C7.75736 9 6.75 7.99264 6.75 6.75Z"
                                                    fill="#DDDDDD" />
                                            </svg> Dubai,Uae
                                        </span>
                                    </div>
                                    <div class="package_data_price">
                                        1200
                                    </div>
                                    <div>
                                        <a href="/packagesname"> <button type="button"
                                                class="btn btn-yellow-gradient">Know
                                                More </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-4">
                            <div class="package_cards">
                                <div><img src="/images/packages img/sand_girl.svg" alt="" class="package_cards_img">
                                </div>
                                <div class="card-body-items">
                                    <div class="package_title">Package Name</div>
                                    <div class="package_price">AED</div>
                                    <div class="package_travel">
                                        <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                viewBox="0 0 20 20" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M1.875 10C1.875 5.5142 5.5142 1.875 10 1.875C14.4858 1.875 18.125 5.5142 18.125 10C18.125 14.4858 14.4858 18.125 10 18.125C5.5142 18.125 1.875 14.4858 1.875 10ZM10 3.125C6.20455 3.125 3.125 6.20455 3.125 10C3.125 13.7954 6.20455 16.875 10 16.875C13.7954 16.875 16.875 13.7954 16.875 10C16.875 6.20455 13.7954 3.125 10 3.125Z"
                                                    fill="#DDDDDD" />
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M10 4.375C10.3452 4.375 10.625 4.65482 10.625 5V10H13.75C14.0952 10 14.375 10.2798 14.375 10.625C14.375 10.9702 14.0952 11.25 13.75 11.25H10C9.65482 11.25 9.375 10.9702 9.375 10.625V5C9.375 4.65482 9.65482 4.375 10 4.375Z"
                                                    fill="#DDDDDD" />
                                            </svg> 6hrs
                                        </span> <span>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                viewBox="0 0 18 18" fill="none">
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M3.375 6.50391C3.375 3.50906 5.92109 1.125 9 1.125C12.0789 1.125 14.625 3.50906 14.625 6.50391C14.625 8.19227 13.7121 10.2811 12.7122 12.0867C11.6972 13.9192 10.5283 15.5703 9.90146 16.4168C9.79803 16.5582 9.66278 16.6733 9.50663 16.7528C9.34969 16.8326 9.17609 16.8743 9 16.8743C8.82391 16.8743 8.65031 16.8326 8.49337 16.7528C8.3372 16.6733 8.20194 16.5582 8.0985 16.4168C7.47168 15.5699 6.30279 13.9182 5.28782 12.0854C4.28789 10.2798 3.375 8.19107 3.375 6.50391ZM9 2.25C6.48907 2.25 4.5 4.18242 4.5 6.50391C4.5 7.87534 5.27461 9.73939 6.27199 11.5404C7.25166 13.3095 8.38638 14.9145 9 15.7437C9.6136 14.9149 10.7483 13.3104 11.728 11.5416C12.7254 9.74087 13.5 7.8766 13.5 6.50391C13.5 4.18242 11.5109 2.25 9 2.25Z"
                                                    fill="#DDDDDD" />
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M9 5.625C8.37868 5.625 7.875 6.12868 7.875 6.75C7.875 7.37132 8.37868 7.875 9 7.875C9.62132 7.875 10.125 7.37132 10.125 6.75C10.125 6.12868 9.62132 5.625 9 5.625ZM6.75 6.75C6.75 5.50736 7.75736 4.5 9 4.5C10.2426 4.5 11.25 5.50736 11.25 6.75C11.25 7.99264 10.2426 9 9 9C7.75736 9 6.75 7.99264 6.75 6.75Z"
                                                    fill="#DDDDDD" />
                                            </svg> Dubai,Uae
                                        </span>
                                    </div>
                                    <div class="package_data_price">
                                        1200
                                    </div>
                                    <div>
                                        <a href="/packagesname"> <button type="button"
                                                class="btn btn-yellow-gradient">Know
                                                More </button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== End similar packages  ========== -->
            <!-- ========== Start travel plan Section ========== -->
            <div class="section_travel">
                <div class="container">
                    <div class="section_travel_box">
                        <img src="/images/travel img/travel men.svg" alt="" class="section_travel_img">
                        <div class="section_travel_items">
                            <h2 class="section_travel_content">Ensure your travel plans align seamlessly with your
                                Schedule!</h2>
                            <h1 class="section_travel_title">Customize your very own travel experience.</h1>
                            <div class="section_travel_btn"> <button class=" btn travel_btn">Curate Your Trip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section_travel_mobile">
                <div class="container">
                    <div class="section_travel_box">
                        <img src="/images/travel img/travel men_mobile.svg" alt="" class="section_travel_img">
                        <div class="section_travel_items">
                            <h2 class="section_travel_content">Ensure your travel plans align seamlessly with your
                                Schedule!</h2>
                            <h1 class="section_travel_title">Customize your very own travel experience.</h1>
                            <div class="section_travel_btn"> <button class=" btn travel_btn">Curate Your Trip</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== End travel plan Section ========== -->
            <!-- ========== Start Section_faq ========== -->
            <div class="section_faq">
                <div class="container">
                    <div class="section_faq_box">
                        <div class="section_title">Frequently Asked Questions</div>
                        <div class="section_faq_tab">
                            <button type="button" class="btn btn-yellow-gradient">Section 1</button>
                            <button type="button" class="btn btn-yellow-gradient">Section 2</button>
                            <button type="button" class="btn btn-yellow-gradient">Section 3</button>
                            <button type="button" class="btn btn-yellow-gradient">Section 4</button>
                            <button type="button" class="btn btn-yellow-gradient">Section 5</button>
                        </div>
                        <div class="accordion_box">
                            <div class="accordion">
                                <div class="at-item">
                                    <div class="section-at-title active">
                                        <h2>Accordion title 1</h2>
                                        <hr>
                                    </div>
                                    <div class="at-tab" style="display: block;">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, reprehenderit.
                                    </div>
                                </div>
                                <div class="at-item">
                                    <div class="section-at-title">
                                        <h2>Accordion title 2</h2>
                                        <hr>
                                    </div>
                                    <div class="at-tab">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, reprehenderit.
                                    </div>
                                </div>
                                <div class="at-item">
                                    <div class="section-at-title">
                                        <h2>Accordion title 3</h2>
                                        <hr>
                                    </div>
                                    <div class="at-tab">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, reprehenderit.
                                    </div>
                                </div>
                                <div class="at-item">
                                    <div class="section-at-title">
                                        <h2>Accordion title 3</h2>
                                        <hr>
                                    </div>
                                    <div class="at-tab">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, reprehenderit.
                                    </div>
                                </div>
                                <div class="at-item">
                                    <div class="section-at-title">
                                        <h2>Accordion title 3</h2>
                                        <hr>
                                    </div>
                                    <div class="at-tab">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, reprehenderit.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ========== End Section_faq ========== -->
            <!-- ========== Start footer ========== -->
            <%-include("footer.ejs")%>
                <!-- ========== End footer ========== -->
                <script>
                    // faq_section
                    $(document).ready(function () {
                        $(".section-at-title").click(function () {
                            $(this)
                                .toggleClass("active")
                                .next(".at-tab")
                                .slideToggle()
                                .parent()
                                .siblings()
                                .find(".at-tab")
                                .slideUp()
                                .prev()
                                .removeClass("active");
                        });
                    });
                    // faq_end_section
                </script>
</body>