<body>
    <!-- ========== Start header navbar ========== -->
    <%-include("header.ejs")%>
        <!-- ========== End navbar ========== -->
        <div class=" section_sand">
            <div class="section_row_one" style="background-image: url('/images/sandtours/sand.svg');">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar">
                    </div>
                    <div class="tour_section_header">

                        <h1 class="section_title capitilize ">
                            Sand Tours
                        </h1>
                        <p class="section_content">Discover your next adventure, where every click
                            leads to a new experience. Seamlessly create and organize your travel plans, leaving no
                            destination uncharted.
                        </p>
                    </div>
                </div>

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-6  desert_safari">
                        <img src="/images/sandtours/camel.svg" alt="">
                    </div>
                    <div class="col-6">
                        <p class="content">Desert Safari</p>
                    </div>
                </div>
            </div>
            <div class="similar_package">
                <h1 class="section_mini_title">Similar Packages</h1>
            </div>
        </div>

        <!-- ========== Start Experience Section ========== -->
        <div class="container section_experience">
            <div class="section_row_one">
                <div class="section_experience_one">
                    <div class="section_experience_bar">
                        <hr class="section_bar_yellow">
                    </div>
                    <div>
                        <p class="section_content uppercase">Offering you a wide array of activities, each providing a
                        </p>
                        <h1 class="section_title_large">
                            Unique & Diverse Experience
                        </h1>
                    </div>
                </div>
                <div class="section_experience_two section_position"><img src="/images/experience img/road trips.png"
                        alt="Loading" class="section_experience_img">
                    <div class="section_experience_items">
                        <h3 class="section_experience_title">Road Trips</h3>
                        <img src="/images/experience img/arrow-down-left.svg" alt="" class="arrow-down-left-up">
                    </div>
                </div>
                <div class="section_experience_three section_position">
                    <img src="/images/experience img/sand tours.png" alt="loading" class="section_experience_img">
                    <div class="section_experience_items">
                        <h3 class="section_experience_title">Sand Tours</h3>
                        <img src="/images/experience img/arrow-down-left.svg" alt="" class="arrow-down-left">
                    </div>
                </div>
            </div>
            <div class="section_row_two">
                <div class="section_experience_four section_position"><img src="/images/experience img/airplane.png"
                        alt="loading" class="section_experience_img">
                    <div class="section_experience_items">
                        <h3 class="section_experience_title">Air Tours</h3>
                        <img src="/images/experience img/arrow-down-left.svg" alt="" class="arrow-down-left">
                    </div>
                </div>
                <div class="section_experience_five  section_position"><img src="/images/experience img/water boats.jpg"
                        alt="loading" class="section_experience_img">
                    <div class="section_experience_items">
                        <h3 class="section_experience_title">Water Boats</h3>
                        <img src="/images/experience img/arrow-down-left.svg" alt="" class="arrow-down-left">
                    </div>
                </div>
                <div class="section_experience_six section_position"><img src="/images/experience img/party.png"
                        alt="loading" class="section_experience_img">
                    <div class="section_experience_items">
                        <h3 class="section_experience_title">Party Moods</h3>
                        <img src="/images/experience img/arrow-down-left.svg" alt="" class="arrow-down-left">
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End Experience Section ========== -->

        <!-- ========== Start about_Section ========== -->
        <div class="section_about">
            <div class="container">
                <div class="section_about_box">
                    <div class="section_about_left">
                        <div class="section_about_head"><span class="section_about_line">
                                <hr class="section_bar_white">
                            </span>
                            <span class="section_head_title">About</span>
                        </div>
                        <div class="section_title">What sets us apart?</div>
                        <p class="section_content section_content_left">At Arabian Hub, we are your passport to
                            unforgettable journeys
                            and cherished
                            memories. As a premier travel
                            agency based in the heart of the United Arab Emirates, we specialize in curating exceptional
                            trip packages
                            to
                            some of the world's most famous destinations, all with a touch of the Arabian allure.</p>
                        <button type="button" class="btn btn-yellow">Book Visit</button>
                    </div>
                    <div class="section_about_right">
                        <div class="section_about_card card_active">
                            <h1 class="about_card_title">Feature Title</h2>
                                <img src="/images/about img/vip.svg" alt="" class="about_card_img">
                                <p class="about_card_content">lorem data is now shown in below</p>
                        </div>
                        <div class="section_about_card">
                            <h1 class="about_card_title">Feature Title</h2>
                                <img src="/images/about img/star_box.svg" alt="" class="about_card_img">
                                <p class="about_card_content">lorem data is now shown in below</p>
                        </div>
                        <div class="section_about_card">
                            <h1 class="about_card_title">Feature Title</h2>
                                <img src="/images/about img/location.svg" alt="" class="about_card_img">
                                <p class="about_card_content">lorem data is now shown in below</p>
                        </div>
                        <div class="section_about_card">
                            <h1 class="about_card_title">Feature Title</h2>
                                <img src="/images/about img/camel.svg" alt="" class="about_card_img">
                                <p class="about_card_content">lorem data is now shown in below</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about_gradient_topright"></div>
            <div class="about_gradient_bottomleft"></div>
        </div>
        <!-- ========== End about_Section ========== -->

        <!-- ========== Start Destiantion Section ========== -->
        <div class="section_destination">
            <div class="container">
                <div class="section_destination_box">
                    <div class="section_destination_left">
                        <div class="section_about_head"><span class="section_about_line">
                                <hr class="section_bar_white">
                            </span>
                            <span class="section_head_title">mesmerising places for you</span>
                        </div>
                        <div class="section_title">Destinations</div>
                        <p class="section_content section_content_left">At Arabian Hub, we are your passport to
                            unforgettable
                            journeys and cherished
                            memories. As a premier travel agency based in the heart of the United Arab Emirates, we
                            specialize in
                            curating exceptional trip packages to some..</p>
                    </div>
                    <div class="section_destination_right">
                        <div class="container">
                            <div class="slider" data-slider>
                                <ul class="slider__track" data-slider-track>
                                    <li>
                                        <div class="slide"><img src="/images/destiantion img/slider_img_one.png" alt=""
                                                class="slider_img_items"></div>
                                    </li>
                                    <li>
                                        <div class="slide">
                                            <img src="/images/destiantion img/slider_img_two.svg" alt=""
                                                class="slider_img_items">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide">
                                            <img src="/images/destiantion img/slider_img_one.png" alt=""
                                                class="slider_img_items">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="slide"> <img src="/images/destiantion img/slider_img_one.png" alt=""
                                                class="slider_img_items"></div>
                                    </li>
                                    <li>
                                        <div class="slide"> <img src="/images/destiantion img/slider_img_one.png" alt=""
                                                class="slider_img_items"></div>
                                    </li>
                                    <li>
                                        <div class="slide"> <img src="/images/destiantion img/slider_img_one.png" alt=""
                                                class="slider_img_items"></div>
                                    </li>
                                </ul>
                                <div class="slider__buttons">
                                    <button class="slider__button" data-slider-prev disabled>
                                        <img src="/images/destiantion img/arrow_left.svg" alt="">
                                    </button>
                                    <button class="slider__button" data-slider-next>
                                        <img src="/images/destiantion img/arrow_right.svg" alt="">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ========== End Destiantion Section ========== -->


        <!-- ========== Start popularSection ========== -->
        <div class="section_package">
            <div class="container">
                <div class="section_package_box">
                    <div class="section_package_left">
                        <div class="section_about_head">
                            <span class="section_about_line">
                                <hr class="section_bar_yellow">
                            </span>
                            <span class="section_head_title">mesmerising places for you</span>
                        </div>
                        <div class="section_title">Popular Packages</div>
                    </div>
                    <div class="section_package_right">
                        <p class="section_content">
                            At Arabian Hub, we are your passport to unforgettable journeys and cherished memories. As a
                            premier travel
                            agency based in the heart of the United Arab Emirates, we specialize in curating exceptional
                            trip packages
                            to some.
                        </p>
                        <div class="section_package_btn"> <button type="button" class="btn btn-yellow">View All</button>
                            <span class="section_btn_arrow"><svg xmlns="http://www.w3.org/2000/svg" width="15"
                                    height="16" viewBox="0 0 15 16" fill="none">
                                    <path d="M2.72725 12.7727L12.2727 3.22728" stroke="white" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M2.72725 3.22728L12.2727 3.22728L12.2727 12.7727" stroke="white"
                                        stroke-linecap="round" stroke-linejoin="round" />
                                </svg></span>
                        </div>
                    </div>
                </div>
                <div class="section_package_tabs">
                    <li><button type="button" class="btn btn-yellow-gradient">Ajman</button></li>
                    <li><button type="button" class="btn btn-yellow-gradient">Ras-al-Khaima</button></li>
                    <li><button type="button" class="btn btn-yellow-gradient current-btn">Dubai</button></li>
                    <li><button type="button" class="btn btn-yellow-gradient">Ajman</button></li>
                    <li><button type="button" class="btn btn-yellow-gradient">Umm Al-Quwain</button></li>
                    <div class="section_tab_btn"> <img src="/images/packages img/arrow-down.png" alt=""></div>
                </div>
            </div>
        </div>
        <!-- ========== Start package cards ========== -->
        <div class="gtco-testimonials">
            <div class="owl-carousel owl-carousel1 owl-theme">
                <div>
                    <div class="card text-center"><img class="carousel-img-items"
                            src="/images/packages img/waterfall.png" alt="">
                        <div class="card-body">
                            <h5>Ronne Galle <br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ” </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center"><img class="carousel-img-items"
                            src="/images/destiantion img/slider_img_two.svg" alt="">
                        <div class="card-body">
                            <h5>Martha Brown<br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ” </p>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="card text-center"><img class="carousel-img-items"
                            src="/images/destiantion img/slider_img_two.svg" alt="">
                        <div class="card-body">
                            <h5>Martha Brown<br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ” </p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card text-center"><img class="carousel-img-items"
                            src="/images/destiantion img/slider_img_one.png" alt="">
                        <div class="card-body">
                            <h5>Hanna Lisem<br />
                                <span> Project Manager </span>
                            </h5>
                            <p class="card-text">“ Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                impedit quo minus id quod maxime placeat ” </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about_gradient_topright"></div>
            <div class="about_gradient_bottomleft"></div>
        </div>
        <!-- ========== End package cards ========== -->
        <!-- ========== End popularSection ========== -->
        <!-- ========== Start footer ========== -->
        <%-include("footer.ejs")%>
            <!-- ========== End footer ========== -->
</body>

</html>