@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  /* color */
  --dark-grey: rgba(65, 65, 65, 0.22);
  --dark-blue: #0a2440;
  --line: #dddddd;
  --button: #c69c41;
  --light-blue: #0a4b77;
  --Golden-gradient: #f2edcf;

  /* font */
  --font-Montserrat: "Montserrat", sans-serif;
}

.btn {
  width: 130px;
  height: 40px;
  text-align: center;
  font-family: var(--font-Montserrat);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border-radius: 6px;
  line-height: normal;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: -0.225px;
}
.btn-white {
  color: #eed66f !important;
  border: 1px solid #eed66f !important;
  background: transparent !important;
}
.btn-white:hover {
  color: white;
  background: var(--button, #c69c41);
}

.btn-yellow {
  color: #fff !important;
  background: var(--button, #c69c41) !important;
  border: none !important;
}

.btn-blue {
  border-radius: 8px;
  background: var(--light-blue) !important;
  color: white !important;
  border: none;
}
.btn-yellow-gradient {
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--Golden-gradient, #dd9a0a) !important ;
  color: white !important;
  font-size: 12px !important;
}

.btn-yellow-gradient::after {
  content: url("/images/packages img/arrow-down.png");
  position: absolute;
  top: 37px;
  left: 55px;
}

.btn-yellow-gradient:hover {
  background-color: var(--button, #c69c41) !important;
}
.travel_btn {
  margin-top: 2em;
  margin-left: 3px;
  width: 180px;
  position: relative;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid var(--Golden-gradient, #dd9a0a) !important ;
  color: white !important;
  font-size: 12px !important;
}
.btn_form_submit {
  font-size: inherit;
  float: right;
  padding: 16px;
  margin-left: -1px;
  background: #fcc04a;
  transition: padding 0.2s;
  color: white;
  border: 0;
}
.btn_form_submit:hover {
  cursor: pointer;
  padding: 16px 24px;
}
.btn_form_submit:hover ~ input {
  padding: 16px 0 16px 16px;
}

@media (max-width: 600px) {
  .travel_btn {
    margin-top: 1em;
    margin-left: 3px;
    width: 160px;
    position: relative;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid var(--Golden-gradient, #dd9a0a) !important ;
    color: white !important;
    font-size: 12px !important;
  }
}
