@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  /* color */
  --dark-grey: rgba(65, 65, 65, 0.22);
  --dark-blue: #0a2440;
  --line: #dddddd;
  --button: #c69c41;
  --light-blue: #0a4b77;
  --Golden-gradient: #f2edcf;

  /* font */
  --font-Montserrat: "Montserrat", sans-serif;
}
button {
  outline: none !important;
  border: none !important;
}
.btn {
  width: 130px;
  height: 40px;
  text-align: center;
  font-family: var(--font-Montserrat);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  border-radius: 6px;
  line-height: normal;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  letter-spacing: -0.225px;
}
.btn-white {
  color: #eed66f !important;
  border: 1px solid #eed66f !important;
  background: transparent !important;
}
.btn-white:hover {
  color: white !important;
  background: var(--button, #c69c41) !important;
}
#btn-large {
  width: 190px !important;
}
.btn-yellow {
  width: 134px !important;
  margin-bottom: 0px;
  color: #fff !important;
  background: var(--button, #c69c41) !important;
  border: none !important;
}

.btn-blue {
  border-radius: 8px;
  background: var(--light-blue) !important;
  color: white !important;
  border: none;
}
.btn-yellow-gradient {
  position: relative;
  border-radius: 4px;
  border: 1px solid var(--Golden-gradient, #dd9a0a) !important ;
  color: white !important;
  font-size: 12px !important;
}

.btn-yellow-gradient::after {
  content: url("/images/packages img/arrow-down.png");
  position: absolute;
  top: 37px;
  left: 55px;
  opacity: 0; /* Initially hide the arrow */
  transition: opacity 0.3s ease; /* Add a transition effect for a smoother change */
}

.btn-yellow-gradient:hover {
  background-color: var(--button, #c69c41) !important;
}

.btn-yellow-gradient:hover::after {
  opacity: 1; /* Show the arrow when the button is hovered */
}

.btn-darkblue {
  margin-top: 1em;
  margin-left: 3px;
  width: 160px !important;
  height: 50px;
  padding: 20px;
  border-radius: 8px !important;
  background: linear-gradient(to right, #122e50, #1b3963, #27487c);
  color: white !important;
  font-size: 12px !important;
}
.btn_form_submit {
  font-size: inherit;
  float: right;
  padding: 16px;
  margin-left: -1px;
  background: #fcc04a;
  transition: padding 0.2s;
  color: white;
  border: 0;
}
.btn_form_submit:hover {
  cursor: pointer;
  padding: 16px 24px;
}
.btn_form_submit:hover ~ input {
  padding: 16px 0 16px 16px;
}
.btn_msg {
  width: 38vw;
  height: 50px;
  color: #fff !important;
  background-color: var(--button) !important;
}
@media (max-width: 600px) {
  .btn {
    width: 120px;
    height: 40px;
    font-size: 14px !important;
    padding: 0em !important;
  }
  .travel_btn {
    margin-top: 5px;
    margin-left: 0px;
    width: 140px;
    height: 40px;
  }
  .btn_msg {
    width: 60vw;
    height: 50px;
  }
  .btn-yellow {
    width: 110px !important;
    margin-bottom: 10px;
  }
  #btn-large {
    width: 165px !important;
  }
}
