/***** small_header *****/
@media (max-width: 600px) {
  .small_header_itemTwo {
    margin-right: 20px;
  }
}
/***** End small_header *****/

/***** Section_home *****/
/* Extra small devices (phones) */
@media (max-width: 600px) {
  .section_home_head {
    position: relative;
  }
  .section_home {
    display: grid;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: minmax(auto, 50%) 1fr;
  }
  .section_home_content {
    position: absolute;
    top: 140px;
    left: 0px;
  }
  .section_head_title {
    color: var(--desc-colour, #d9d9d9);
    font-family: var(--font-Montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .section_title {
    padding: 0px 0px;
    font-size: 16px;
    line-height: 28px; /* 134.783% */
  }
  .section_title_large {
    font-size: 18px;
    line-height: 30px; /* 115.625% */
    letter-spacing: -0.96px;
  }
  .section_home_content > .section_content {
    width: auto;
    padding: 10px 0px;
    font-size: 13px;
    line-height: 140.9%; /* 28.98px */
    letter-spacing: -0.3px;
  }
  .section_content {
    width: auto;
    padding: 10px 0px;
    font-size: 13px;
    line-height: 140.9%; /* 28.98px */
    letter-spacing: -0.3px;
  }
  .section_home_data {
    position: absolute;
    left: 0em;
    top: 15em;
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    border-radius: 4px;
    padding: 10px;
    background: rgba(111, 111, 111, 0.13);
    backdrop-filter: blur(50px);
  }
  .form__group {
    position: relative;
    padding: 7px 10px;
    max-width: 250px;
  }
}
/* Small devices (tablets) */
@media (min-width: 600px) and (max-width: 767px) {
  .section_home_data {
    position: absolute;
    left: 14px;
    bottom: 2em;
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
    border-radius: 4px;
    padding: 10px;
    background: rgba(111, 111, 111, 0.13);
    backdrop-filter: blur(50px);
  }
}

/* Medium devices (small laptops and desktops) */
@media (min-width: 768px) and (max-width: 991px) {
  .small_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;
  }
  .bg-video-wrap {
    height: 50vh;
  }
  .section_home_content {
    position: absolute;
    top: 110px;
    left: 60px;
  }
  .section_title {
    font-size: 40px;
  }
  .section_title_large {
    font-size: 30px;
  }
  .section_home_data {
    position: absolute;
    left: 0px;
    top: 33em;
    z-index: 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    border-radius: 4px;
    padding: 10px;
    background: rgba(111, 111, 111, 0.13);
    backdrop-filter: blur(50px);
  }
}
/***** End Section_home *****/

/***** experience Section *****/
@media (max-width: 600px) {
  .section_row_one {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .section_row_two {
    padding-top: 0.7em;
  }
  .section_experience_one {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
  }
  .section_experience_title {
    width: 60px;
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: #fff;
    font-family: var(--font-playfair);
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 120.8%; /* 53.152px */
  }
  .section_experience_img {
    width: 100%;
    object-fit: cover;
    height: 120px;
    position: relative;
  }
  .arrow-down-left-up {
    position: absolute;
    top: 10px;
    width: 20px;
    right: 10px;
    z-index: 1;
  }
  .arrow-down-left {
    position: absolute;
    top: 10px;
    width: 20px;
    right: 10px;
    z-index: 1;
  }
}
/***** End experience  *****/

/***** about_Section *****/
@media (max-width: 600px) {
  .section_about_box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5em;
    justify-content: space-around;
    padding-top: 30px;
  }
  .section_about_right {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .section_about_box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 0.5em;
    justify-content: space-around;
    padding-top: 30px;
  }
  .section_about_right {
    margin-top: 20px;
  }
  .section_experience_title {
    font-size: 22px;
  }
}
/***** End about_Section *****/

/***** Section_designation *****/

@media (max-width: 600px) {
  .section_destination_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 3.5em;
  }

  .section_destination_left {
    width: auto;
    padding-top: 0em;
  }
  .section_destination_right {
    margin: auto;
    width: 90%;
  }
  .slider {
    margin: 20px;
    overflow: hidden;
  }

  .slider__track {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .slider__track li {
    flex: 0 0 100%; /* Display one item at a time on smaller screens */
    min-width: 100%;
    scroll-snap-align: start;
    box-sizing: border-box;
  }

  /* Additional styling for buttons (adjust as needed) */
  .slider__buttons {
    position: absolute;
    top: 220px;
    left: 75px;
    margin-top: 1rem;
  }

  .slider__button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
  }

  .slider__button[disabled] {
    cursor: not-allowed;
  }
}

/***** End Section *****/

/***** package_Section *****/
@media (max-width: 600px) {
  .section_package_box {
    padding-top: 3em;
    grid-template-columns: repeat(1, 1fr);
  }
  .section_package_tabs {
    position: relative;
    width: auto;
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .card-body-items {
    margin: auto;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .slider_button_tour {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin-left: 10px;
  }
}
/***** End package_Section *****/

/***** travel_Section *****/
@media (max-width: 600px) {
  .section_travel {
    height: auto;
  }
  .section_travel_box {
    position: relative;
  }
  .section_travel_img {
    width: 100%;
    height: auto;
  }
  .section_travel_items {
    position: absolute;
    top: 45px !important;
    left: 45px;
    z-index: 1;
    top: 0px;
  }
  .section_travel_content {
    width: 50vw;
    color: #fff4bd;
    font-family: var(--font-Montserrat);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: inherit; /* 146.875% */
  }
  .section_travel_title {
    width: 50vw;
    color: var(--golden-h1, #eed66f);
    font-family: var(--font-playfair);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: inherit; /* 119.492% */
  }
  .section_travel_arrow {
    position: absolute;
    right: 25px;
    top: 25px;
  }
}
/***** End travel_Section *****/

/***** Section_footer *****/
@media (max-width: 600px) {
  .section_footer_yellow {
    padding: 2em;
    height: 400px;
    display: flex;
    position: absolute;
    top: -130px;
    left: 18px;
    border-radius: 32px;
    background: #c0943a;
    z-index: 1;
  }
  .section_footer_top {
    width: 100%;
    margin-bottom: auto;
  }
  .section_footer_top > h3 {
    color: #fff;
    text-align: center;
    font-family: var(--font-Montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
  }
  .section_footer_top p {
    color: #e1e8ff;
    text-align: center;
    font-family: var(--font-Montserrat);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: inherit;
  }
  form {
    width: 100%;
    height: 105px;
    font-size: 12pt;
    border: 2px solid white;
    border-radius: 30px;
    overflow: hidden;
  }
  .footer-col h4 {
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    left: 0px;
  }
  .footer-col ol,
  ul {
    padding-left: 0em !important;
  }
}
/***** End footer *****/
