@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Montserrat+Dispaly&family=Plus+Jakarta+Sans&display=swap");
:root {
  /* color */
  --dark-grey: rgba(65, 65, 65, 0.22);
  --dark-blue: #0a2440;
  --desc-colour: #d9d9d9;
  --line: #dddddd;
  --button-color: #c69c41;
  --golden-h1: #eed66f;
  --desc-colour: #d9d9d9;
  --bar-white: #bab9b9;
  --about-bg: #091e35;
  --h1-colour: #fff9d9;
  --card-colour: #072c54;

  /* font */
  --font-Montserrat: "Montserrat", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-plus-jakarta: "Plus Jakarta Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-blue) !important;
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitilize {
  text-transform: capitalize;
}
/***** small header *****/
.small_header {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
  width: 100%;
  height: 30px;
  background: rgba(65, 65, 65, 0.22);
  backdrop-filter: blur(12.5px);
  padding: 20px 10px;
}
.small_header_itemOne {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.small_header_itemTwo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 6px;
  margin-right: 100px;
}
.small_header_itemTwo span {
  margin: 5px;
}
.logo_items {
  cursor: pointer;
}
.facebook_logo:hover {
  fill: #1877f2;
}
.youtube_logo:hover {
  fill: #ff0000;
}
.instagram_logo:hover {
  fill: #e944c2;
}
.twitter_logo:hover {
  fill: #1da1f2;
}

.small_header_title {
  color: var(--line, #ddd);
  font-family: var(--font-Montserrat);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.18px;
}

/***** End small header *****/

/***** start header navbar *****/

.nav {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 40px;
  z-index: 9;
  line-height: 65px;
  text-align: center;
  background: rgba(65, 65, 65, 0.22);
  backdrop-filter: blur(12.5px);
}

.nav div.logo {
  float: left;
  width: auto;
  height: auto;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.nav div.logo a:hover {
  color: var(--button-color);
}

.nav div.main_list {
  height: 65px;
  float: right;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li .active {
  color: var(--button, #c69c41);
}

.nav div.main_list ul li a {
  color: white;
  text-align: center;
  font-family: var(--font-Montserrat);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.225px;
}

.nav div.main_list ul li a:hover {
  color: var(--button-color);
}

/* Home section */

.navTrigger {
  display: none;
}

.nav {
  padding-top: 0px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navTrigger {
    display: block;
  }
  .nav div.logo {
    margin-left: 0px;
    padding-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: right;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}

/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background: rgba(65, 65, 65, 0.22);
  backdrop-filter: blur(12.5px);
}

/***** End header navbar *****/

/***** Section_home *****/
.section_home_head {
  position: relative;
}
.section_home {
  display: grid;
  grid-template-rows: minmax(100px, auto);
  grid-template-columns: minmax(auto, 43%) 1fr;
}
.section_home_left {
  position: relative;
}
.section_home_content {
  position: absolute;
  top: 220px;
  left: 60px;
}
.section_title {
  padding: 5px 0px;
  color: var(--golden-h1, #eed66f);
  font-family: var(--font-playfair);
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 62px; /* 134.783% */
}
.section_title_large {
  color: var(--golden-h1, #eed66f);
  font-family: var(--font-playfair);
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 74px; /* 115.625% */
  letter-spacing: -0.96px;
}
.section_content {
  padding: 5px 0px;
  color: var(--desc-colour, #d9d9d9);
  font-family: var(--font-Montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 144.9%; /* 28.98px */
  letter-spacing: -0.3px;
}
.section_home_data {
  position: absolute;
  left: 0em;
  top: 16em;
  z-index: 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  border-radius: 4px;
  padding: 10px;
  background: rgba(111, 111, 111, 0.13);
  backdrop-filter: blur(50px);
}
.form__group {
  position: relative;
  padding: 10px 10px;
  max-width: 250px;
}
.form__field {
  cursor: pointer;
  color: #c2c2c2;
  font-family: var(--font-Montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
input[type="date"]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"]:focus::-webkit-datetime-edit {
  color: rgb(157, 157, 157) !important;
  visibility: hidden;
}

.form__label {
  font-family: var(--font-Montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  padding: 3px;
  top: 10px;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #3144e9, #174cfa);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #eed66f;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.bg-video-wrap {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(https://designsupply-web.com/samplecontent/vender/codepen/20181014.png)
    no-repeat center center/cover;
}
.bg-video-wrap > video {
  min-width: 100%;
  min-height: 100vh;
  z-index: 1;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0.7) 50%
  );
  background-size: 3px 3px;
  z-index: 2;
}
/***** End Section_home *****/

/***** experience Section *****/
.section_experience {
  padding-top: 5em;
}
.section_row_one {
  width: 100%;
  display: grid;
  grid-template-rows: minmax(100px, auto);
  grid-template-columns: 3fr 1fr 2fr; /* Adjust the fr values as needed */
  gap: 10px;
}
.section_row_two {
  padding-top: 2em;
  width: 100%;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr;
}

.section_bar_yellow {
  border: 1px solid #eed66f;
  width: 60px;
  height: 3px;
  background-color: #eed66f;
  margin-top: 28px;
}
.section_experience_one {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.section_experience_img {
  width: 100%;
  height: 100%;
}

.section_experience_title {
  width: 60px;
  position: absolute;
  bottom: 20px;
  left: 30px;
  color: #fff;
  font-family: var(--font-playfair);
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 120.8%; /* 53.152px */
}
.section_position {
  position: relative;
}
.arrow-down-left-up {
  position: absolute;
  top: 10px;
  width: 50px;
  right: 10px;
  z-index: 1;
}
.arrow-down-left {
  position: absolute;
  top: 10px;
  width: 50px;
  right: 10px;
  z-index: 1;
}

/***** End Section *****/

/***** Section_About *****/
.section_about {
  position: relative;
  background-color: var(--about-bg);
}
.section_about_box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 0.5em;
  justify-content: space-around;
  padding-top: 5em;
}
.section_about_head {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
.section_bar_white {
  border: var(--bar-white);
  width: 60px;
  height: 3px;
  background-color: var(--bar-white);
}
.section_head_title {
  color: var(--desc-colour, #d9d9d9);
  font-family: var(--font-Montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.section_about_right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
/* card-section */
.section_about_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 30px;
  border-radius: 10px;
}
.card_active {
  background: #08203b;
}
.about_card_title {
  color: var(--h1-colour, #fff9d9);
  text-align: center;
  font-family: var(--font-Montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about_card_content {
  width: 200px;
  color: var(--desc-colour, #d9d9d9);
  text-align: center;
  font-family: var(--font-plus-jakarta);
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 154.5%; /* 22.248px */
}
.about_gradient_topright {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 265.894px;
  background: #a87403;
  filter: blur(200px);
  width: 264.81px;
  height: 265.894px;
  z-index: 1;
}
.about_gradient_bottomleft {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 265.894px;
  background: #a87403;
  filter: blur(200px);
  width: 264.81px;
  height: 265.894px;
  z-index: 1;
}
/***** End _About *****/

/***** Destination Section *****/
.section_destination {
  position: relative;
  background: rgb(4, 25, 48);
  background: linear-gradient(
    90deg,
    rgba(4, 25, 48, 1) 0%,
    rgba(8, 30, 45, 1) 45%,
    rgba(4, 34, 48, 1) 45%,
    rgb(10, 36, 64) 100%
  );
  padding-top: 5em;
  height: 700px;
}
.section_destination_box {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto;
  grid-gap: 3.5em;
}

.section_destination_left {
  width: 400px;
  padding-top: 3em;
}
.section_destination_right {
  width: 70%;
}

.slider {
  --slider-padding: 1rem;
  --slider-column-gap: 1rem;
  --slide-width: 33.3%;
  --slide-min-width: 15rem;
  overflow: hidden;
  margin-top: 150px;
}
.slider_img_items {
  object-fit: contain;
  width: 100%;
}
.slider__track {
  display: flex;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  padding-inline: var(--slider-padding);
  scroll-behavior: smooth;
  list-style-type: none;
  padding: 0;
  margin-right: calc(var(--slider-column-gap) * -1);
  scrollbar-width: none;
}
.slider__track > * {
  flex: 0 0 var(--slide-width);
  min-width: var(--slide-min-width);
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-right: var(--slider-column-gap);
}
.slider__track::-webkit-scrollbar {
  display: none;
}
.slider__button {
  padding: 10px 15px;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.slider__buttons {
  position: absolute;
  bottom: 180px;
  left: 90px;
  margin-top: 1rem;
}
.slider__buttons [disabled] {
  opacity: 0.5;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  background: none;
  font-size: 3rem;
  font-weight: 700;
}

/***** End Destination Section *****/

/* tours sections___________- */
.tour_section_header {
  padding: 140px 50px;
}
.desert_safari img {
  width: 587px;
  height: 712px;
  padding: 20px;
}
.similar_package {
  background-color: var(y);
}
.section_mini_title {
  color: var(--h1-colour, #fff9d9);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.48px;
}

/***** package_Section *****/
.section_package_box {
  position: relative;
  padding-top: 5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: start;
  height: auto;
}
.section_package_btn {
  position: relative;
  width: 150px;
}
.section_btn_arrow {
  position: absolute;
  right: 30px;
  top: 5px;
}
.section_package_tabs {
  position: relative;
  width: auto;
  margin-top: 5em;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.section_tab_btn {
  position: absolute;
  top: 43px;
  z-index: 1;
}

/***** End package_Section *****/

.gtco-testimonials {
  position: relative;
  margin-top: 30px;
}
.gtco-testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}
.gtco-testimonials .owl-stage-outer {
  padding: 30px 0;
}
.gtco-testimonials .owl-nav {
  display: none;
}
.gtco-testimonials .owl-dots {
  text-align: center;
}
.gtco-testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: var(--card-colour);
  border: 2px solid var(--button-color);
  margin: 0 5px;
}
.gtco-testimonials .owl-dots .active {
  box-shadow: none;
}
.gtco-testimonials .owl-dots .active span {
  background: var(--button-color);
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.gtco-testimonials .card {
  background-color: var(--card-colour);
  box-shadow: none;
  margin: 0 20px;
  padding: 0px;
  margin-top: 50px;
}
.gtco-testimonials .card .carousel-img-items {
  width: 100%;
  height: 300px;
  border-radius: none;
  object-fit: cover;
  margin: auto 0;
}
.gtco-testimonials .card h5 {
  color: var(--card-colour);
  font-size: 21px;
  line-height: 1.3;
}
.gtco-testimonials .card h5 span {
  font-size: 18px;
  color: #666666;
}
.gtco-testimonials .card p {
  font-size: 18px;
  color: #555;
  padding-bottom: 15px;
}
.gtco-testimonials .active {
  opacity: 0.8;
  transition: all 0.3s;
}
.gtco-testimonials .center {
  opacity: 1;
}
.gtco-testimonials .center h5 {
  font-size: 24px;
}
.gtco-testimonials .center h5 span {
  font-size: 20px;
}
.gtco-testimonials .center .carousel-img-items {
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}
.gtco-testimonials .center .card {
  position: relative;
  bottom: 25px;
  width: 450px;
  height: 550px;
}

@media (max-width: 767px) {
  .gtco-testimonials {
    margin-top: 20px;
  }
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  outline: 0;
}
.owl-carousel button.owl-dot {
  outline: 0;
}
/* package_details */
.package_time {
  color: var(--Desc-colour, #d9d9d9);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
